@import "_variables";
@import "_extends";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  height: 55px;
  box-shadow: 5px 0 6px 3px rgba(0, 0, 0, 0.2);
  nav {
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 25px;
      li {
        &:first-child {
          width: 50px;
          margin-left: 40px;
          margin-right: 80px;
          text-align: center;
          transition: all 0.5s;
          cursor: pointer;
          &:hover {
            transform: rotate(90deg);
          }
        }
        &:last-child {
          @extend %brandFont;
        }
      }
    }
  }
}

main {
  margin-top: 120px;
  padding: 0 15vw;
  .main-image-section {
    display: flex;
    justify-content: center;
    .wrapper {
      width: 75%;
      height: 70vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .grid-section {
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    & > * {
      border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      padding: 20px 0px;
    }
    & > *:nth-child(even) {
      padding-left: 15px;
    }
    & > *:nth-child(odd) {
      padding-right: 15px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    h3 {
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 130%;
      margin-bottom: 70px;
    }
    a {
      @extend %anchor;
    }
  }
  .no-border-top {
    border: none;
  }
  .no-margin {
    margin-bottom: 0px !important;
  }
  .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.articles-section {
  display: flex;
  margin-top: 20px;
  .articles-section__columns {
    a {
      @extend %anchor;
    }
    h2 {
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 130%;
      margin-bottom: 70px;
    }
  }
}

footer {
  height: 40vh;
  margin-top: 110px;
  background-color: #464646;
  padding: 0 15vw;
  .wrapper {
    height: 100%;
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title__columns {
        &:first-child {
          @extend %brandFont;
          font-size: 25px;
          font-weight: 700;
        }
        &:nth-child(2) {
          position: relative;
          left: 50px;
        }
        &:not(:first-child) {
          font-weight: 300;
        }
      }
    }
    .policy-copy {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 15vh;
      & > * {
        display: flex;
        flex-direction: column;
        & > * {
          height: 20px;
        }
      }
    }
  }
}
